.main-window-subheader{
  text-align: center;
}
.header-row{
  background-color: rgb(245, 245, 245);
  margin-top:10px;
  margin-bottom:10px;
  margin-left:25%;
  margin-right:25%;
  border-radius: 5px;
}
.sub-row{
  background-color: rgb(245, 245, 245);
  margin-bottom:10px;
  margin-left:10%;
  margin-right:10%;
  border-radius: 5px;
}
.sub-row .new-task-bar-label{
  margin:10px;
}
.tasks{
  margin-left:20px;
  margin-right:20px;
}
.tasks .btn-sort{
  color:black;
  background: unset;
  margin-left:20px;
  padding:3px;
}
.tasks .btn-sort:hover{
  color:white;
  background: #1ABC9C;
}
.btn-new-task{
  margin:10px;
}
.task-low .fui-info-circle{
  color: #2ECC71;
}
.task-medium .fui-info-circle{
  color: #F1C40F;
}
.task-high .fui-info-circle{
  color: #E74C3C;
}
.center-content{
  display: flex;
  align-items: center;
  justify-content: center;
}
.btns-json button{
  margin:4px;
}
.btns-json-row{
  background-color: rgb(245, 245, 245);
  margin-bottom:10px;
  margin-left:10%;
  margin-right:10%;
  border-radius: 5px;
  padding:10px;
}
.header-text{
  font-size: 50px;
  letter-spacing: 8px;
}
.sub-header-text{
  font-size:20px;
  letter-spacing: 3px;
}
.select{
  min-width: 120px;
}
.btn{
  font-size: 16px;
}
.table-col-delete{
  width:10%;
}
